<!DOCTYPE html>
<html lang="en" data-theme="{{ .Theme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Weblist</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

<main class="container">
    <div class="login-wrapper">
        <div class="login-box">
            <h2>Login</h2>
            
            {{ if .Error }}
            <div class="error-message">
                {{ .Error }}
            </div>
            {{ end }}
            
            <form action="/login" method="post">
                <input type="hidden" name="username" value="weblist">
                <input type="password" id="password" name="password" placeholder="Password" required autofocus>
                <button type="submit" class="primary-button">Login</button>
            </form>
        </div>
    </div>
</main>

{{ if not .HideFooter }}
<footer>
    <a href="https://github.com/umputun/weblist">weblist</a> by <a href="https://umputun.dev">umputun</a> •
    <a href="https://github.com/umputun/weblist">open source</a>
</footer>
{{ end }}

</body>
</html> 