<!DOCTYPE html>
<html lang="en" data-theme="{{ .Theme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - {{ if .Title }}{{ .Title }}{{ else }}weblist{{ end }}</title>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/weblist-app.css">
</head>

<body>

<main class="container">
    <article class="centered-login-box">
            <h3>Login</h3>
            {{ if .Error }}
            <div class="error-message" role="alert">
                {{ .Error }}
            </div>
            {{ end }}
            
            <form action="/login" method="post">
                <input type="hidden" name="username" value="weblist">
                
                <label for="password">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required autofocus>
                </label>
                
                <button type="submit" class="contrast">Login</button>
            </form>
    </article>
</main>

</body>
</html>