name: build-app
on:
  push:
    branches:
    tags:
    paths_ignored:
      - ".github/workflows/updater.yml"
      - "updater/**"
      - "**.md"
  pull_request:
    paths_ignored:
      - ".github/workflows/updater.yml"
      - "updater/**"
      - "**.md"


jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - name: set up go
      uses: actions/setup-go@v6
      with:
        go-version: "1.26"
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: build and test
      run: |
        go test -v -race -timeout=100s -covermode=atomic -coverprofile=$GITHUB_WORKSPACE/profile.cov_tmp ./...
        go build -race ./...
        cat $GITHUB_WORKSPACE/profile.cov_tmp | grep -v "mocks" | grep -v "_mock" > $GITHUB_WORKSPACE/profile.cov

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.9.0

    - name: install goveralls
      run: go install github.com/mattn/goveralls@latest

    - name: submit coverage
      run: $(go env GOPATH)/bin/goveralls -service="github" -coverprofile=$GITHUB_WORKSPACE/profile.cov
      continue-on-error: true
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
