name: e2e-tests
on:
  push:
    branches:
    paths_ignored:
      - "**.md"
  pull_request:
    paths_ignored:
      - "**.md"

jobs:
  e2e:
    name: e2e
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

    - name: set up go 1.24
      uses: actions/setup-go@v5
      with:
        go-version: "1.25"
      id: go

    - name: check out code
      uses: actions/checkout@v4

    - name: cache playwright browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright
        key: playwright-${{ runner.os }}-${{ hashFiles('go.sum') }}
        restore-keys: |
          playwright-${{ runner.os }}-

    - name: install playwright browsers
      run: go run github.com/playwright-community/playwright-go/cmd/playwright@latest install --with-deps chromium

    - name: run e2e tests
      run: go test -v -count=1 -timeout=5m -tags=e2e ./e2e/...
